<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title th:text="'Jack Frost - ' + ${producto.nombre}"></title>
  <link rel="icon" type="image/png" href="https://image.flaticon.com/icons/svg/891/891462.svg">
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-item.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Jack Frost</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Carrito.html" th:text="${item}"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ListCompras.html" th:text="${admin}"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Gestor" th:text="${adminProduct}">Gestionamiento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/LoginPag" th:text="${IN}">Iniciar Sesion </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/LoginOUT" th:text="${OUT}">Cerrar Sesion </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <br>
    <br>
    <div class="container">

      <div class="row">

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
            <div class="card-body">
              <h3 class="card-title" th:text="${producto.nombre}" ></h3>
              <h4 th:text="${producto.precio} + 'RD$'"></h4>
              <p class="card-text" th:text="${producto.descripcion}"></p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              4.0 stars
            </div>
            <div class="card-footer">
              <form method="post" action="/agregarProduct">
                <input type="hidden" name="producto_nombre" th:value="${producto.nombre}">
                <button type="submit" class="btn btn-warning"> Agregar al Carrito </button>
              </form>
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Comentarios
            </div>
            <div class="card-body" th:each="comentario : ${producto.comentarios}">
              <form method="post" action="eliminarcomentario">
                <p th:text="${comentario.texto}"></p>
                <small class="text-muted" th:text="'Autor: ' + ${comentario.autor} + ' el ' + ${comentario.fecha}"></small>
                <hr>
                <input type="hidden" name="id" th:value="${producto.id}">
                <input type="hidden" name="comentario" th:value="${comentario.texto}">
                <input type="hidden" name="autor" th:value="${comentario.autor}">
                <button type="submit" class="mb-1 btn btn-outline-danger"th:if="${usuario!=null}" > Eliminar Comentario </button>
              </form>
            </div>
            <div>
              <form class="form-edit-create" id="comentarioproducto" method="post" action="/agregarcomentario">
                <h6 style="font-style: normal" class="ml-4">Comentar</h6>
                <div class="form-group card-body">
                  <textarea id="comentario" class="form-control" name="comentario" placeholder="   Escribir Comentario del Producto   " required></textarea>
                </div>
                <input type="hidden" th:value="${producto.id}" name="id">
                <div class="ml-3 mb-3">
                  <button type="submit" class="btn btn-primary"> Enviar Comentario</button>
                </div>
              </form>
            </div>
          </div>
          <!-- /.card -->
          <a href="#" class="btn btn-success mb-4">Top</a>
          <br>
        </div>
        <!-- /.col-lg-9 -->

      </div>
    </div>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Ando Román 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
