<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Jack Frost</title>
  <link rel="icon" type="image/png" href="https://image.flaticon.com/icons/svg/891/891462.svg">
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand logo-font" href="/">
        <img src="./css/logo1.svg" width="30" height="30" alt="logo"> Jack Frost
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Carrito.html" th:text="${item}"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ListCompras.html" th:text="${admin}"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Gestor" th:text="${adminProduct}">Gestion de Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/LoginPag" th:text="${IN}">Iniciar Sesion </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/LoginOUT" th:text="${OUT}">Cerrar Sesion </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-1">
        <!--
          <h1 class="my-4">Productos</h1>

          <div class="list-group">
            <a href="#" class="list-group-item">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
          </div>
        -->
        </div>

      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid max-height: 640px " src="jack.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="mujerComprando.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="mercado.jpeg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="card">
          <h2 class="card-title font-weight-bol text-center"> CATALOGO DE PRODUCTOS </h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4" th:each="productos : ${listaProducto}">
            <div class="card h-100">
              <div th:id="'carusel'+ ${productos.id}" class="carousel slide" data-ride="carousel"
                   data-interval="false">
                <div class="carousel-inner">
                  <th:block th:each="foto, cont : ${productos.productFoto}">
                    <div th:class="${cont.first} ? 'carousel-item active' : 'carousel-item'">
                      <img th:src="@{'data:' + ${foto.tipo} + '; base64,' + ${foto.lafoto}}"
                           class="d-block w-100 img-responsive img-thumbnail mb-2" alt="#">
                    </div>
                  </th:block>
                </div>
                <a style="filter:invert(100%);" class="carousel-control-prev"
                   th:href="'#carusel'+ ${productos.id}"
                   role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a style="filter:invert(100%);" class="carousel-control-next"
                   th:href="'#carusel'+ ${productos.id}"
                   role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <!-- <img class="card-img-top" th:src="@{'data:' + ${productos.productFoto[0].tipo} + '; base64,' + ${productos.productFoto[0].lafoto}}" width="700" height="280"> -->
              <!-- <img class="card-img-top" src="./SLAYER1.jpg" width="700" height="280"> -->
              <div class="card-body">
                <form method="post" action="/Producto">
                    <input type="hidden" name="idProducto" th:attr="value=${productos.id}">
                    <button class="btn card-title font-weight-bold btn-link" type="submit" th:text="${productos.nombre}"></button>
                    <br>
                    <h7 th:text="${productos.precio} + 'RD$'"></h7>
                    <p class="card-text" th:text="${productos.descripcion}"></p>
                    <small th:text="${productos.id}"></small>
                </form>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
        <!-- pagination -->
        <ul class="pagination justify-content-center">
          <th:block th:each="indice, stat : ${#numbers.sequence(1, cantidad_pagina, 1)}">

            <li th:class="${pagina==1} ? 'page-item disabled' : 'page-item'" th:if="${stat.first}">
              <a class="page-link" th:href="@{/(pagina=${pagina-1})}" aria-label="Anterior">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Anterior</span>
              </a>
            </li>

            <li th:class="${pagina==indice} ? 'page-item disabled' : 'page-item'">
              <a class="page-link" th:href="@{/(pagina=${indice})}">
                <span th:text="${indice}"></span>
              </a>
            </li>

            <li th:class="${pagina==cantidad_pagina} ? 'page-item disabled' : 'page-item'" th:if="${stat.last}">
              <a class="page-link" th:href="@{/(pagina=${pagina+1})}" aria-label="Siguiente">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Siguiente</span>
              </a>
            </li>
          </th:block>

        </ul>
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Ando Roman 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
